{% include 'navbar.html' %}
{% block content %}
<div class="sections">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="h3 title">Payment Details</h3>
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Student ID</th>
                            <th>Name</th>
                            <th>Slot1</th>
                            <th>Slot2</th>
                            <th>Slot3</th>
                            <th>Slot1Date</th>
                            <th>Slot2Date</th>
                            <th>Slot3Date</th>
                        </tr>
                    </thead>
                    {% for i in payment %}
                    <tbody>
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.stdid}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.slot1}}</td>
                            <td>{{i.slot2}}</td>
                            <td>{{i.slot3}}</td>
                            <td>{{i.slot1date}}</td>
                            <td>{{i.slot2date}}</td>
                            <td>{{i.slot3date}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </row>
    </div>
</div>
{% endblock %}